{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/all",
    "plugin:eslint-comments/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "jest", "eslint-comments"],
  "rules": {
    "no-restricted-syntax": "off",
    "prettier/prettier": "error",
    "eslint-comments/no-unused-disable": "error",
    "@typescript-eslint/ban-ts-comment": "warn",
    // I know scheduling every promise in event loop and awaiting them later is better but i need to send requests to apis one by one. If i send a lot of requests in a short time server returning ECONNREFUSED.
    "no-await-in-loop": "off"
  }
}
